In [1]:
import os
import pandas as pd
from sqlalchemy import create_engine

# --- настройки ---
DB_URI_ARCHIVE = "postgresql://postgres:smartgrid@172.31.168.2/archive_main"
OUTPUT_DIR = "data"
os.makedirs(OUTPUT_DIR, exist_ok=True)

engine_archive = create_engine(DB_URI_ARCHIVE)

# 1. Тянем всю tag_specification
with engine_archive.connect() as conn:
    df_spec = pd.read_sql("SELECT * FROM tag_specification", conn)

print("Всего строк в tag_specification:", len(df_spec))
display(df_spec.head())

# 2. Сохраняем полный дамп
full_path = os.path.join(OUTPUT_DIR, "tag_specification_full.csv")
df_spec.to_csv(full_path, index=False, encoding="utf-8")
print("✅ Сохранён полный файл:", full_path)

# 3. Дополнительно — локальный файл только с важными полями (для оффлайн-сервиса)
cols_basic = [
    col for col in df_spec.columns
    if col in [
        "tag", "sm_user_object_id",
        "latitude", "longitude",
        "tilt", "azimuth",
        "module_length", "module_width",
        "module_efficiency",
        "total_panels",
        "commissioning_date",
        "degradation_rate"
    ]
]

if cols_basic:
    df_spec_basic = df_spec[cols_basic].copy()
    basic_path = os.path.join(OUTPUT_DIR, "tag_spec_local.csv")
    df_spec_basic.to_csv(basic_path, index=False, encoding="utf-8")
    print("✅ Сохранён укороченный файл для сервиса:", basic_path)
else:
    print("⚠ Колонки для укороченного файла не найдены, см. df_spec.columns")

Всего строк в tag_specification: 8

,id,tag,tag_type,tilt,azimuth,total_panels,panel_rated_power,module_length,module_width,module_thickness,...,degradation_rate,max_series_fuse,max_system_voltage,product_warranty,power_warranty,inverter_count,commissioning_date,latitude,longitude,sm_user_object_id
0,1,P0063H01/E001/Ptot,meter,30.0,180.0,12756,345.0,1976.0,990.0,35.0,...,0.50,15.0,1000.0,10,25,85,2020-01-01,35.012141,33.899119,17
1,2,P0086H01/I001/Ptot,inverter,15.0,NaN,170,585.0,2278.0,1134.0,30.0,...,0.55,15.0,1000.0,10,25,1,2020-01-01,43.151251,27.451342,70
2,3,P0086H01/I002/Ptot,inverter,15.0,NaN,172,585.0,2278.0,1134.0,30.0,...,0.55,15.0,1000.0,10,25,1,2020-01-01,43.151251,27.451342,70
3,4,P0086H01/I003/Ptot,inverter,15.0,NaN,171,585.0,2278.0,1134.0,30.0,...,0.55,15.0,1000.0,10,25,1,2020-01-01,43.151251,27.451342,70
4,5,P0086H01/I004/Ptot,inverter,15.0,NaN,166,585.0,2278.0,1134.0,30.0,...,0.55,15.0,1000.0,10,25,1,2020-01-01,43.151251,27.451342,70

✅ Сохранён полный файл: data\tag_specification_full.csv
✅ Сохранён укороченный файл для сервиса: data\tag_spec_local.csv